*.pyc
*.swo
*.py~
*.swp
sources.vim
tests.vim
venv/*
all-*
tests/*
*~
.viminfo
core
.kk.log
.ackrc
.directory
sage_line.py
vieux/*
documentation/sphynx/*
instance.vim
testing/phystricks*.py
doc/html/*
Inter_*
*.comment
*.pstricks
manual/Essais-for_eps.tex
manual/ecm.tex
manual/ecm2.tex
manual/lines.tex
manual/points.tex
manual/pytextools.xml
manual/0-*.pdf
manual/0-*.synctex.gz
manual/tikzFIGLabel*
manual/LabelFig*
manual/FIGLabelFig*
manual/lst_actu.py
manual/phystricks.log

READMEphystricks.html
