*.pyc
*.py~
*.swp
all-*
tests/*
*~
.viminfo
.kk.log
.directory
documentation/*
vieux/*
instance.vim
testing/phystricks*.py
testing/testing_pictures/*.aux
testing/testing_pictures/*.auxlock
testing/testing_pictures/tikz*.log
testing/testing_pictures/configuration.py
testing/testing_pictures/0-*
testing/testing_pictures/*.log
testing/testing_pictures/all_pictures.*
testing/testing_pictures/figures_all.py
testing/testing_pictures/plugins_agreg.py
testing/testing_pictures/pack.tex
testing/testing_pictures/pictures.pdf
testing/testing_pictures/pytextools.xml
testing/testing_pictures/phystricks*.py
testing/demonstration/0-*
testing/demonstration/Inter_*
testing/demonstration/*.aux
testing/demonstration/*.auxlock
testing/demonstration/Fig_*
testing/demonstration/pytextools.xml
testing/demonstration/*.md5
testing/demonstration/*.pdf
