*.pyc
*.swo
*.py~
*.swp
all-*
tests/*
*~
.viminfo
core
.kk.log
.ackrc
.directory
sage_line.py
vieux/*
documentation/sphynx/*
instance.vim
testing/phystricks*.py
testing/demonstration/phystricks.log
testing/testing_pictures/*.aux
testing/testing_pictures/*.pstricks
testing/testing_pictures/*.comment
testing/testing_pictures/*.auxlock
testing/testing_pictures/tikz*.log
testing/testing_pictures/tikzFIGLabel*.dpth
testing/testing_pictures/tikzFIGLabel*.md5
testing/testing_pictures/tikzFIGLabel*.pdf
testing/testing_pictures/configuration.py
testing/testing_pictures/0-*
testing/testing_pictures/*.log
testing/testing_pictures/all_pictures.*
testing/testing_pictures/figures_all.py
testing/testing_pictures/plugins_agreg.py
testing/testing_pictures/pack.tex
testing/testing_pictures/pictures.pdf
testing/testing_pictures/pytextools.xml
testing/testing_pictures/figures_testing.py
testing/testing_pictures/phystricks*.py
testing/testing_pictures/Inter_*
testing/testing_pictures/travail.txt
testing/demonstration/0-*
testing/demonstration/Inter_*
testing/demonstration/*.aux
testing/demonstration/*.auxlock
testing/demonstration/Fig_*
testing/demonstration/pytextools.xml
testing/demonstration/*.md5
testing/demonstration/*.pdf
testing/demonstration/tikzFIG*
testing/demonstration/*.swo
testing/testing_pictures/fp081206-28.pdf
testing/demonstration/travail.txt
Inter_*
*.comment
*.pstricks
manual/Essais-for_eps.tex
manual/ecm.tex
manual/ecm2.tex
manual/lines.tex
manual/points.tex
manual/pytextools.xml
manual/0-*.pdf
manual/0-*.synctex.gz
manual/tikzFIGLabel*
manual/LabelFig*
manual/FIGLabelFig*
manual/lst_actu.py
manual/phystricks.log

READMEphystricks.html
